name: First WorkFlow
on : [push]

jobs:
    run-shell-commands:
        runs-on: ubuntu-latest
        steps:
            - name: echo a string
              run: echo "Hello World"
            - name: Multi-line commands
              run: |
                node -v
                npm -v